<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Use this pattern for Kubernetes deployments -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n" />

            <!-- Optional pattern with color encoding for local debugging -->
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %C:%L [%t] %logger{36} - %m%n" /> -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="europeana.sparql.updater" level="INFO"/>

        <Logger name="europeana.sparql.updater.UpdaterService" level="INFO"/>

        <!-- Set to TRACE to log all found datasets -->
        <Logger name="europeana.sparql.updater.EuropeanaDatasetFtpServer" level="INFO"/>

        <!-- Set to DEBUG to log command exit values, use TRACE to log Virtuoso output -->
        <Logger name="europeana.sparql.updater.virtuoso.VirtuosoGraphManagerCl" level="INFO"/>

        <!-- Set to DEBUG to log commands sent to SPARQL -->
        <Logger name="europeana.sparql.updater.virtuoso.SparqlClient" level="INFO"/>
        <Logger name="europeana.sparql.updater.virtuoso.EuropeanaSparqlClient" level="INFO"/>

    </Loggers>
</Configuration>