<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Use this pattern for Kubernetes deployments -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n" />

            <!-- Optional pattern with color encoding for local debugging -->
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %C:%L [%t] %logger{36} - %m%n" /> -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="europeana.sparql.updater" level="TRACE"/>

        <!-- Use DEBUG to see command exit values, use TRACE to see Virtuoso output -->
        <Logger name="europeana.sparql.updater.VirtuosoGraphManagerCl" level="DEBUG"/>

        <!-- Set to DEBUG to see commands sent to SPARQL -->
        <Logger name="europeana.sparql.updater.virtuoso.SparqlClient" level="INFO"/>
        <Logger name="europeana.sparql.updater.virtuoso.EuropeanaSparqlClient" level="TRACE"/>

        <Logger name="europeana.sparql.updater.UpdaterService" level="TRACE"/>
        <Logger name="europeana.sparql.updater.Dataset" level="DEBUG"/>

    </Loggers>
</Configuration>