apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sparql-statefulset
spec:
  serviceName: sparql-headless-service
  replicas: ${MIN_REPLICAS}
  template:
    metadata:
      annotations:
        fluentd/include: '${COLLECT_LOGS}'
    spec:
      containers:
        - name: sparql-virtuoso
          image: europeana/sparql-virtuoso
          imagePullPolicy: Always
          env:
            - name: DBA_PASSWORD
              value: ${DBA_PASSWORD}
            - name: JAVA_TOOL_OPTIONS
              value: "-javaagent:/usr/local/elastic-apm-agent.jar
                      -Delastic.apm.enabled=${COLLECT_APM}
                      -Delastic.apm.application_packages=${ELASTIC_APP_PACKAGES}
                      -Delastic.apm.server_urls=${ELASTIC_APM_SERVERS}
                      -Delastic.apm.service_name=${APP_NAME}
                      -Delastic.apm.environment=${K8S_NAMESPACE}"
            # Virtuoso buffer settings for 8GB RAM
            - name: VIRT_Parameters_NumberOfBuffers
              value: "680000"
            - name: VIRT_Parameters_MaxDirtyBuffers
              value: "500000"
            # Location to download database from (empty = no download)
            - name: COPY_VIRTUOSO_DB_FROM
              value: ${COPY_VIRTUOSO_DB_FROM}
          resources:
            requests:
              memory: "${MEMORY_REQUEST}Mi"
              cpu: "${CPU_REQUEST}m"
            limits:
              memory: "${MEMORY_LIMIT}Mi"
              cpu: "${CPU_LIMIT}m"
          # Use this variable to inject liveness or readiness probes (disabled during ingestion)
          ${PROBES}
          volumeMounts:
          - name: pvclaim-150gb
            mountPath: /database
  volumeClaimTemplates:
  - metadata:
      name: pvclaim-150gb
    spec:
      storageClassName: ibmc-vpc-block-general-purpose
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 150Gi
